<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

<style>

    body {
        background-color: #d9bea3;
    }

    .btn-default {
        background-color: #1ca74c;
        margin: 8px;
    }

    .btn-primary {
        margin: 8px;
    }

    .btn-invisible {
        background: transparent;
        border: none !important;
    }

    .btn-danger {
        margin: 8px;
    }

    .form-select {
        margin: 5px;
    }


    .bg-recipe-card {
        background-color: #DEE7F0;
        max-width: 320px;
        margin: auto;
    }

    .bg-recipe-page {
        background-color: #FFFFFF;
        margin: auto;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    a.text:active, /* активная/посещенная ссылка */
    a.text:hover, /* при наведении */
    a.text {
        text-decoration: none;
        color: #000;
    }

    .bigText {
        height: 30px;
    }

    textarea {
        resize: none;
    }

    .line {
        -webkit-box-flex: 1;
        flex-grow: 1;
        border-bottom: 1px solid rgb(217, 217, 217);
        height: 12px;
        margin: 0px 10px !important;
    }


</style>
<link href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
      rel="stylesheet">