{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Ваши избранные рецепты:</h2>
    <div class='table_recipes'>
    {% for recipe in fav %}
            <div class='recipe'>
                <div class='recipe_image_card'>
                    <a class='recipe_image_link' href='/recipe/?q={{ recipe.name }}'>
                        <img alt="Name" class='image' src={% static recipe.photo_address %}>
                    </a>
                </div>
                <div class=''>
                    <div class='recipe_information_name'>
                        <a href='/recipe/?q={{ recipe.name }}' class='text'>
                            <h4 title class="text">
                                {{ recipe.name }}
                            </h4>
                        </a>
                    </div>
                    <div class='recipe_information'></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}