{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-sm">
            {% if request.user.is_authenticated %}
                <h1 style=text-align:center>Добро пожаловать, {{ request.user }}!</h1>
            {% else %}
                <h1 style=text-align:center>Добро пожаловать!</h1>
            {% endif %}
            <p class="lead"></p>
        </div>
        <form method="GET" class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Поиск..." id="search_box" name="q">
        </form>
        <div class='table_recipes'>
            {% for i in recipe.recipes %}
            <div class='recipe'>
            <div class="container rounded bg-recipe-card mt-4 pt-1">
                <div class='recipe_image_card'>
                    <a class='recipe_image_link' href='/recipe/?q={{ i.id }}'>
                        <img alt="Name" class='image' width="150" height="100" src={{ i.link_to_photo_api }}>
                    </a>
                </div>
                <div class="">
                    <div class='recipe_information_name'>
                        <a href='/recipe/?q={{ i.id }}' class='text'>
                            <h4 title class="text">
                                {{ i.name }}
                            </h4>
                            <p></p>
                        </a>
                    </div>
                    <div class='recipe_information'></div>
                </div>
            </div>
        </div>
                <hr>
    {% endfor %}
    </div>
{% endblock %}
