{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block js %}
    <script>
            document.getElementById("cost").innerHTML = "WIP"
    </script>
{% endblock %}
{% block content %}
    <main>
        <div class="main_class">
            <div class="title_body">
                <div class="image">
                    <img src={% static recipe.photo_address %}>
                </div>
                <div class="title">
                    <h4>{{ recipe.name }}</h4>
                </div>
            </div>
            <a class="products">
            <form action='add_cart' method='GET'>
            {% for key, value in prod_dict.items %}
                <select name="dropdown">
                    {% for i in value %}
                    <option>{{ i.name }} {{ i.price }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
                <button type='submit'>Добавить</button>
            </form>
            </a>
            </div>
            <div class="pagedown_body">

            </div>
        </div>
    </main>
{% endblock %}
